<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="keywords" content="">
        <meta name="description" content="">

        <title>CheckInn Home</title>
        <%-include("../fragments/head.ejs")%>
    </head>
    <body>
        <%-include("../fragments/header.ejs")%>
        <main class="px-36 flex justify-center">
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-4">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                E-mail
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Firstname
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Lastname
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Role
                            </th>
                            <th scope="col" class="px-6 py-3">
                                <span class="sr-only">Edit</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(user of locals.users) { %>
                        <tr class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                <%-user.email%>
                            </th>
                            <td class="px-6 py-4">
                                <%-user.firstname%>
                            </td>
                            <td class="px-6 py-4">
                                <%-user.lastname%>
                            </td>
                            <td class="px-6 py-4">
                                <%-user.role%>
                            </td>
                            <td class="px-6 py-4">
                                <a href="#" class="font-medium text-sky-500 dark:text-blue-500 hover:underline p-2">Send notification</a>
                                <a href="#" class="font-medium text-red-500 dark:text-blue-500 hover:underline">Delete</a>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>