<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="keywords" content="">
        <meta name="description" content="">

        <title>CheckInn Home</title>
        <%-include("../fragments/head.ejs")%>
    </head>
    <body>
        <%-include("../fragments/header.ejs")%>
        <main class="px-36">
            <div class="">
                <div class="flex flex-col px-12 m-2 items-center">
                    <h3 class="font-bold text-lg p-2 self-center">Bookings history</h3>
                    <% for (book of locals.bookings) {%>
                        <div class="border p-4 rounded-xl my-4 bg-gray-50 w-[500px] h-[240px] <%- book.status == 'confirmed' || book.status == 'reviewed' ? 'border-sky-500' : 'border-red-500'%>">
                            <div class="flex justify-between p-2">
                                <div class="text-lg font-semibold">Booking #<%-book.id_booking%></div>
                                <div>Guest: <span class="font-semibold"><%-book.firstname%> <%-book.lastname%></span></div>
                            </div>
                            <div class="flex justify-between p-2">
                                <div>Checkin: <%-book.checkin.toDateString().slice(3)%></div>
                                <div>Checkout: <%-book.checkout.toDateString().slice(3)%></div>
                            </div>
                            <div class="flex justify-between p-2">
                                <% function capitalize(string) {return string.charAt(0).toUpperCase() + string.slice(1);} %>
                                <% const days = (date_1, date_2) =>{ %>
                                <%   let difference = date_2.getTime() - date_1.getTime(); %>
                                <%   let TotalDays = Math.ceil(difference / (1000 * 3600 * 24)); %>
                                <%   return TotalDays; %>
                                <%} %>
                                <div>Stay: <%-days(book.checkin,book.checkout)%> nights</div>
                                <div>Guests left: <%-days(book.checkout, new Date)%> days ago</div>
                            </div>
                            <div class="flex justify-between p-2">
                                <div>Guests: <%-book.guests%></div>
                                <div class="p-2">Income: <span class="text-sky-500 font-semibold"><%-book.total_price*80/100%>€</span></div>
                            </div>
                            <% if(book.status == 'confirmed' || book.status == 'reviewed') {%>
                            <div class="">
                                <p class="text-sky-500 text-lg font-semibold px-4"><%-capitalize(book.status == 'reviewed' ? 'Completed&Reviewed' : 'Completed')%></p>
                            </div>
                            <%} else {%>
                            <div>
                                <p class="text-red-500 text-lg font-semibold px-4"><%-capitalize(book.status == 'pending' ? 'Expired' : book.status)%></p>
                            </div>
                            <%}%>
                        </div>
                    <%}%>
                </div>
            </div>
        </main>
    </body>
</html>