<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="keywords" content="">
        <meta name="description" content="">

        <title>CheckInn Home</title>
        <%-include("../fragments/head.ejs")%>
    </head>
    <body>
        <%-include("../fragments/header.ejs")%>
        <main class="px-36">
            <%-include("../fragments/searchBox.ejs")%>

            <div>
                <h2 class="font-bold text-xl pt-4">Inspiration for your next trip</h2>
            </div>
            <div>
                <% if (locals.user) { %>
                    <%- locals.user.firstname %>
                    <%- locals.user.lastname %>
                <% } %>
            </div>
        </main>
    </body>
</html>