<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="keywords" content="">
        <meta name="description" content="">

        <title>CheckInn Home</title>
        <%-include("../fragments/head.ejs")%>
    </head>
    <body>
        <%-include("../fragments/header.ejs")%>
        <main class="px-20">
            <h1 class="mb-4">RULES</h1>
            <form method="POST" action="/hosting/addRules/<%-locals.id_property%>">
                <div class="relative mb-4">
                    <input type="number" min="0" step="5" id="price_inp" name="price" value="<%-locals.price%>" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                    <label for="price_inp" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-800 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Price</label>
                </div>
                
                <div class="relative mb-4">
                    <input type="text" min="0" step="5" max="100" id="discount_inp" name="week_discount" value="<%-locals.week_discount%>"class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                    <label for="discount_inp" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-800 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Week discount</label>
                </div>
                <div class="mb-4">
                    <label for="checkin_inp">Check-in time:</label>
                    <input type="time" id="checkin_inp" name="checkin" value="<%-locals.checkin%>">
                </div>
                <div class="mb-4">
                    <label for="checkout_inp">Check-out time:</label>
                    <input type="time" id="checkout_inp" name="checkout" value="<%-locals.checkout%>">
                </div>
                <h2>General rules</h2>
                <div>
                        <div class="items-center mr-4">
                            <input id="forKids-check" name="rules" type="checkbox" value="for_kids" <%-(locals.for_kids) ? 'checked' : ''%> class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="forKids-check" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Is your property suitable for kids?</label>
                        </div>
                        <div class="items-center mr-4">
                            <input id="smoking-check" name="rules" type="checkbox" value="smoking_allowed" <%-(locals.smoking_allowed) ? 'checked' : ''%> class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="smoking-check" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Is smoking allowed in your property?</label>
                        </div>
                        <div class="items-center mr-4">
                            <input id="pets-check" name="rules" type="checkbox" value="pets_allowed" <%-(locals.pets_allowed) ? 'checked' : ''%> class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="pets-check" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Are pets allowed in your property?</label>
                        </div>
                        <div class="items-center mr-4">
                            <input id="events-check" name="rules" type="checkbox" value="events_allowed" <%-(locals.events_allowed) ? 'checked' : ''%> class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="events-check" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Can your guests host events (including parties) in your property?</label>
                        </div>
                </div>
                <button type="submit" name="save_btn" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Save changes</button>
                <button type="submit" name="finish_btn" class="text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Finish your listing
                    <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </form>
        </main>
    </body>
</html>