<!DOCTYPE html>
<html lang="en" class="h-full bg-[url('/public/photos/general/login_background.jpg')] bg-center bg-no-repeat bg-cover">
    <head>
        <meta name="keywords" content="">
        <meta name="description" content="">

        <title>CheckInn Home</title>
        <%-include("../fragments/head.ejs")%>
    </head>
    <body>
        <%-include("../fragments/header.ejs")%>
        <main>
            <div class="py-20 flex justify-center items-center mx-auto ">
                <!-- <form method="POST" action="/users/authenticate">
                    <div class="flex flex-col gap-6 justify-center p-10 border mt-20">
                        <h1 class="text-3xl mx-auto">Login to your account</h1>
                        <div class="mx-auto">
                            <label>E-mail:</label><br>
                            <input name="email"type="text" placeholder="E-mail" class="inp-basic">
                        </div>
                        <div class="mx-auto">
                            <label>Password:</label><br>
                            <input name="password" type="password" placeholder="Password" class="inp-basic">
                        </div>
                        <input type="hidden" name="path" value="<%-locals.path%>">
                        <div class="mx-auto">
                        <% if(locals.msg) { %>
                            <p class="text-red-600">
                                <%- locals.msg %> 
                                <% if(locals.createAccLink) {%>
                                <a href='/users/register' class='text-blue-400 underline mx-auto'>Create a new account</a>
                            <% } %>
                            </p>
                        <% } %>
                        
                        </div>
                        <button type="submit" class="btn-primary">Log in</button>
                        <div class="mx-auto">
                            <a href="/users/forgot" class="text-blue-400 text-sm underline">Forgot my password</a>
                        </div>
                    </div>
                </form> -->
                <div class="p-4 min-w-[350px] bg-opacity-80 bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 lg:p-8 dark:bg-gray-800 dark:border-gray-700">
                    <form class="space-y-6"  method="POST" action="/users/authenticate">
                        <h2 class="text-xl font-medium text-gray-900 dark:text-white">Sign in to our platform</h2>
                        <div>
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your email</label>
                            <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="name@company.com" required>
                        </div>
                        <div>
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your password</label>
                            <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                        </div>
                        <div class="flex items-start">
                            <div class="flex items-start">
                                <% if(locals.msg) { %>
                                    <p class="text-red-600 ml-auto text-sm font-semibold">
                                        <%- locals.msg %> 
                                        <% //if(locals.createAccLink) {%>
                                        <!-- <a href='/users/register' class='text-blue-400 underline mx-auto'>Create a new account</a> -->
                                    <% //} %>
                                    </p>
                                <% } %>
                            </div>
                            <a href="/users/forgot" class="ml-auto text-sm text-blue-700 hover:underline dark:text-blue-500">Forgot Password?</a>
                        </div>
                        
                                    
                        <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login to your account</button>
                        <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                            Not registered? <a href="/users/register" class="text-blue-700 hover:underline dark:text-blue-500">Create account</a>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>