<!DOCTYPE html>
<html lang="en" class="h-full bg-[url('/public/photos/properties/8/big_picture.jpg')] bg-center bg-no-repeat bg-cover">
    <head>
        <meta name="keywords" content="">
        <meta name="description" content="">

        <title>CheckInn Home</title>
        <%-include("../fragments/head.ejs")%>
    </head>
    <body>
        <%-include("../fragments/header.ejs")%>
        <main class="px-20 py-10 flex justify-center mx-auto">
            <!-- <div class="px-20 justify-center">
                <form method="POST" action="/users/registerUser" class="">
                    <div class="flex flex-col gap-4 justify-center p-8 border mt-20 min-w-fit">
                        <h1 class="text-3xl mx-auto">Register a new account</h1>
                        <div class="mx-auto">
                            <label class="">E-mail address:</label><br>
                            <input type="text" required name="email" placeholder="E-mail address" class="inp-basic">
                        </div>
                        <div class="mx-auto">
                            <label>First name:</label><br>
                            <input type="text" required name="firstname" placeholder="First name" class="inp-basic"> 
                        </div>
                        <div class="mx-auto">
                            <label>Last name:</label><br>
                            <input type="text" required name="lastname" placeholder="Last name" class="inp-basic">
                        </div>
                        <div class="mx-auto">
                            <label>Password:</label><br>
                            <input type="password" name="password" placeholder="Password" class="inp-basic">
                        </div>
                        <div class="mx-auto">
                            <% if(locals.succes == "true") { %>
                                <p class="text-green-600"><%- locals.msg %></p>
                                <% } else { %>
                                <p class="text-red-600"><%- locals.msg %></p>
                                <% } %>
                        </div>               
                        <button type="submit" class="btn-primary">Register</button>
                        <div class="mx-auto">
                            <p class="text-gray-500 text-sm">If you already have an account, <a href="/users/login" class="text-blue-400 underline">sign in</a></p>
                        </div>
                    </div>
                </form> -->
            <!-- </div> -->

            <div class="p-4 min-w-[350px] bg-opacity-80 bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 lg:p-8 dark:bg-gray-800 dark:border-gray-700">
                <form class="space-y-6"  method="POST" action="/users/registerUser">
                    <h2 class="text-xl font-medium text-gray-900 dark:text-white">Register on CheckInn</h2>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your email</label>
                        <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="name@company.com" required>
                    </div>
                    <div>
                        <label for="firstname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your firstname</label>
                        <input type="text" name="firstname" id="firstname" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Ion" required>
                    </div>
                    <div>
                        <label for="lastname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your lastname</label>
                        <input type="text" name="lastname" id="lastname" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Popescu" required>
                    </div>
                    
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your password</label>
                        <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                    </div>
                    <% if(locals.msg) { %>
                        <div class="flex items-start">
                            <p class="text-red-600 ml-auto text-sm font-semibold">
                                <%- locals.msg %> 
                            </p>
                        </div>
                    <% } %>      
                    <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Register</button>
                    <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                        Already have an account? <a href="/users/login" class="text-blue-700 hover:underline dark:text-blue-500">Login</a>
                    </div>
                </form>
            </div>

        </main>
    </body>
</html>