<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="keywords" content="">
        <meta name="description" content="">

        <title>CheckInn Home</title>
        <%-include("../fragments/head.ejs")%>
        <!-- <script src="/public/js/resultMap.js" defer></script> -->
        <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQy7k2Ww3zcmNYGGkCLGw84z3XAnqqpnY&callback=initMap&v=weekly" defer></script> -->
        <script src="/public/js/resultDetails.js" defer></script>
        <script src="https://unpkg.com/flowbite@1.4.7/dist/datepicker.js"></script>
        <!-- FullCalendar -->
        <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.css' rel='stylesheet' />
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.js'></script>
        <!-- FontAwesome script -->
        <script src="https://kit.fontawesome.com/374b3caa1d.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <%-include("../fragments/header.ejs")%>
        <main class="px-36">
            <% prop = locals.prop; function capitalize(string) {return string.charAt(0).toUpperCase() + string.slice(1);} %>
            <div class="flex justify-between">
                <div id="headline" class="p-4 pb-0">
                    <h1 class="text-3xl font-bold">
                        <%-prop.title%>
                    </h1>
                    <div class="flex flex-row">
                         <div class="mr-2 font-light">
                             <%-prop.rating ? prop.rating + '<i class="fa-solid fa-star text-yellow-400"></i>' : "No rating yet"%>
                         </div>
                         <div class="mr-2">
                             -
                         </div>
                         <div class="mr-1">
                             <%-prop.street_and_number%>, <%- prop.city%>, <%- prop.country%>
                         </div>
                    </div>
                 </div>
                 <div class="self-end px-8">
                     <label>
                        <input type="hidden" name="favourite" value="False" />
                        <input id="custom-checkbox-input" class="hidden scale-125 hover-text-gray-500 hover:scale-100" name="favourite" value="True" type="checkbox">
                        <i id="heart" class="fa-solid fa-heart text-gray-300 fa-2xl hover:text-gray-500 hover:scale-125 p-4"></i>
                     </label>
                     <p id="heart-text" class="text-gray-300">Favourite</p>
                 </div>
                 
            </div>
           
            <div id="picture-grid" class="grid grid-cols-4 grid-rows-[repeat(2,_14vw)] gap-4 p-4">
                <div id="big-picture" class="row-span-2 col-span-2 bg-slate-200 rounded-l-xl">
                    <img src="../../<%-locals.photos ? locals.photos.big_picture : ''%>" id="big-picture" class="row-span-2 bg-slate-200 w-full h-full object-cover rounded-l-xl"></img>
                </div>
                <div id="small-pic-1" class="bg-slate-200 col-span-1 row-span-1">
                    <img src="../../<%-locals.photos ? locals.photos.small_pic_1 : ''%>" id="small-pic-1" class="w-full h-full object-cover"></img>
                </div>
                <div id="small-pic-2" class="bg-slate-200 col-span-1 row-span-1 rounded-tr-xl ">
                    <img src="../../<%-locals.photos ? locals.photos.small_pic_2 : ''%>" id="small-pic-2" class="w-full h-full object-cover rounded-tr-xl"></img>
                </div>
                <div id="small-pic-3" class="bg-slate-200 col-span-1 row-span-1 ">
                    <img src="../../<%-locals.photos ? locals.photos.small_pic_3 : ''%>" id="small-pic-3" class="w-full h-full object-cover"></img>
                </div>
                <div id="small-pic-4" class="bg-slate-200 col-span-1 row-span-1 rounded-br-xl ">
                    <img src="../../<%-locals.photos ? locals.photos.small_pic_4 : ''%>" id="small-pic-4" class="w-full h-full object-cover rounded-br-xl"></img>
                </div>
            </div>
            <div id="" class="grid grid-cols-[2fr_1fr]">
                <div id="subtitle" class="flex border-b m-4 pb-2">
                    <div class="pr-4">
                        <p class="text-xl font-semibold"><%-capitalize(prop.property_type)%> hosted by <%-prop.firstname%> <%-prop.lastname[0]%>.</p>
                        <p><span id="guests_nr"><%-prop.guests%></span> guests - <%-prop.rooms_number%> rooms - <%-prop.bathrooms%> bathrooms</p> 
                    </div>
                    <% if(prop.profile_pic) {%>
                        <img src="../../<%-prop.profile_pic%>" id="profile-pic-host" class="min-h-[60px] min-w-[60px] max-h-[60px] max-w-[60px] rounded-full bg-slate-200">
                        </img>
                    <%} else {%>
                    <div id="profile-pic-host" class="min-h-[60px] min-w-[60px] max-h-[60px] max-w-[60px] rounded-full bg-slate-200">
                    </div>
                    <%}%>
                </div>
                <div id="sticky-reserve-container" class="row-[span_7_/_span_7]"> 
                    <div id="reserve-card" class="sticky top-4 py-2">
                        <div class="border rounded-lg p-4 m-4">
                            <p id="week-discount" class="hidden"><%-prop.week_discount%></p>
                            <p id="guests-discount" class="hidden"><%-prop.less_guests_discount%></p>
                            <p id="flat-price" class="font-semibold text-lg py-2"><%-parseInt(prop.price)%>€/night</p>
                            <form action="/booking/add" method="POST" id="booking-form" class="flex flex-col justify-center">
                                <input type="number" name="guests"  autocomplete="off" id="guests-inp" min="0" max="<%-prop.guests%>" class="calcPrice bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Guests" required>
                                <div date-rangepicker class="flex justify-center">
                                    <div class="relative">
                                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                            <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                                        </div>
                                        <input name="checkin" autocomplete="off" id="checkin-inp" type="text" class="calcPrice bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Check-in">
                                    </div>
                                    <div class="relative">
                                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                            <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                                        </div>
                                        <input name="checkout"  autocomplete="off" id="checkout-inp" type="text" class="calcPrice bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Check-out">
                                    </div>
                                </div>
                                <input type="hidden" id="id_property" name="id_property" value="<%-prop.id_property%>">
                                <input type="hidden" name="name_property" value="<%-prop.title%>">
                                <% if (locals.error) { %>
                                <div class="text-red-600 pt-3">
                                    <%- (locals.error == 'fullyBooked') ? 'The property is unavailable for your chosen dates. Please choose other dates' : '' %>
                                    <%- (locals.error == 'notLoggedIn') ? 'Please log in to book this property' : '' %>
                                </div>
                                <%}%>
                                <% if(locals.user) { %>
                                <button type="submit" id="booking-btn" class="text-white w-full bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 my-3">Book now</button>
                                <% } else { %>
                                    <button type="button" id="booking-btn" class="text-white w-full bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 my-3 cursor-not-allowed" disabled>Log in to book stay</button>
                                <% } %>
                            </form>
                            <div id="price-calc" class="flex flex-col">

                            </div>
                        </div>
                    </div>
                </div>
                <div id="description" class="m-4 pb-4 border-b">
                    <p><%-prop.description%></p>
                </div>
                <h2 class="text-lg font-semibold px-4">Rooms available</h2>
                <div id="rooms" class="m-4 pb-4 border-b flex justify-start">
                    <% for(let room of locals.rooms){%>
                    <div class="room-content border rounded-lg p-4 mx-4 bg-gray-50">
                        <h3 class="font-bold"><%-capitalize(room.room_type).split("_").join(" ")%></h3>
                        <% if(room.single_beds != 0) {%>
                            <div>
                                <%-room.single_beds%> <%- room.single_beds == 1 ? "single bed" : "single beds"%> 
                            </div>
                        <%}%>
                        <% if(room.double_beds != 0) {%>
                            <div>
                                <%-room.double_beds%> <%- room.double_beds == 1 ? "double bed" : "double beds"%> 
                            </div>
                        <%}%>
                        <% if(room.bunk_beds != 0) {%>
                            <div>
                                <%-room.bunk_beds%> <%- room.bunk_beds == 1 ? "bunk bed" : "bunk beds"%> 
                            </div>
                        <%}%>
                        <% if(room.other != 0) {%>
                            <div>
                                <%-room.other%> <%- room.other == 1 ? "other" : "others"%> 
                            </div>
                        <%}%>
                        <div class="bed-pictograms flex justify-center">
                            <% for (i = 0; i < room.single_beds; i++) { %>
                                <i class="fa-solid fa-bed m-2"></i>
                            <% }%>
                            <% for (i = 0; i < room.double_beds; i++) { %>
                                <i class="fa-solid fa-bed m-2"></i>
                            <% }%>
                            <% for (i = 0; i < room.bunk_beds; i++) { %>
                                <i class="fa-solid fa-bed m-2"></i>
                            <% }%>
                            <% for (i = 0; i < room.other; i++) { %>
                                <i class="fa-solid fa-couch m-2"></i>
                            <% }%>
                        </div>
                    </div>
                    <%}%>
                </div>
                <div id="calendar-container" class="m-4 pb-4 border-b flex flex-col">
                    <h2 class="text-lg font-semibold mb-4">Property availability</h2>
                    <div id='calendar' class="h-[530px] p-4"></div>
                </div>
                <div id="amenities" class="m-4 pb-4 border-b flex flex-col">
                    <h2 class="text-lg font-semibold">Property details</h2>
                    <div class="flex flex-row">
                        <div class="mx-4 p-4">
                            <h3 class="text-lg font-semibold">General amenities</h3>
                            <% var genAmenities = locals.g_amenities; var i = 0; %>
                            <%  for(const property in genAmenities){%>
                                <% if(property == 'id_amenities' || property == 'id_property') continue %>
                                <% if(genAmenities[property] == true) { %>
                                    <p class="amenity my-4 <%- (i>5) ? 'hidden' : ''%>"><i class="fa-solid fa-check text-green-500 px-2"></i><%-capitalize(property).split("_").join(" ")%></p>
                                <%i++;}%>
                            <%}%>
                        </div>
                        <div class="mx-4 p-4">
                            <h3 class="text-lg font-semibold">Cooking amenities</h3>
                            <% var kitAmenities = locals.k_amenities; var i = 0; %>
                            <%  for(const property in kitAmenities){%>
                                <% if(property == 'id_amenities' || property == 'id_property') continue %>
                                <% if(kitAmenities[property] == true) { %>
                                    <p class="amenity my-4 <%- (i>5) ? 'hidden' : ''%>"><i class="fa-solid fa-check text-green-500 px-2"></i><%-capitalize(property).split("_").join(" ")%></p>
                                <%i++;}%>
                            <%}%>
                        </div>
                        <div class="mx-4 p-4">
                            <h3 class="text-lg font-semibold">Bathroom amenities</h3>
                            <% var bathAmenities = locals.b_amenities; var i = 0;%>
                            <%  for(const property in bathAmenities){%>
                                <% if(property == 'id_amenities' || property == 'id_property') continue %>
                                <% if(bathAmenities[property] == true) { %>
                                    <p class="amenity my-4 <%- (i>5) ? 'hidden' : ''%>"><i class="fa-solid fa-check text-green-500 px-2"></i><%-capitalize(property).split("_").join(" ")%></p>
                                <%i++;}%>
                            <%}%>
                        </div>
                    </div>
                    <button id='show-more-amenities-btn' type="button" class="self-center text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Show all amenities</button>
                </div>
                <div id="map-container" class="m-4 pb-4">
                    <h2 class="text-lg font-semibold mb-2">Property location</h2>
                    <div id="map-lat" class="hidden"><%-prop.lat%></div><div id="map-lng" class="hidden"><%-prop.lng%></div>
                    <div id="map" class="h-96 w-auto rounded-xl bg-slate-200"></div>
                </div>
            </div>
            
            <div id="reviews-container" class="mx-4 py-4 border-y flex flex-col">
                <div class="text-xl font-light"><%-prop.rating ? prop.rating + '<i class="fa-solid fa-star text-yellow-400"></i>': "No rating yet"%> - <%-locals.numberReviews%> <%-locals.numberReviews == 1 ? 'review' : 'reviews'%></div>
                <div class="grid grid-cols-2 items-center gap-4 py-4">
                    <% if (locals.reviews.length > 0) {%>
                    <% for(review of locals.reviews) { %>
                    <div id="review-<%-review.id_review%>" class="grid grid-cols-2 border rounded-lg p-4 justify-between h-36">
                        <div class="flex flex-row">
                            <% if (review.profile_pic) { %>
                                <img src="../../<%-review.profile_pic%>" class="justify-self-start min-h-[60px] min-w-[60px] max-h-[60px] max-w-[60px] rounded-full bg-slate-200 mr-2">
                            </img>
                            <%} else {%>
                                <div id="profile-pic-host" class="justify-self-start min-h-[60px] min-w-[60px] max-h-[60px] max-w-[60px] rounded-full bg-slate-200 mr-2">
                                </div>
                            <%}%>
                            <h3 class="font-semibold"><%-review.firstname%> <%-review.lastname[0]%>.</h3>
                        </div>
                        <div class="font-light justify-self-end"><%-review.total_score%> <i class="fa-solid fa-star text-yellow-400"></i></div>
                        <div class="col-span-2 justify-self-center"><%-review.review_text%></div>
                    </div>
                    <%}%>
                    <% }else { %>
                        <div class="p-4">No reviews yet. Book a stay here and become the first reviewer!</div>
                    <%}%>
                </div>                
            </div>
            <div id="rules" class="m-4 pb-4">
                <h2 class="text-lg font-semibold mb-2">Property rules</h2>
                <ul class="px-4 text-lg">
                    <li id="checkin-rule" class="py-1"><i class="fa-solid fa-clock"></i> Check-in time: starting <%-prop.checkin.slice(0,5) %></li>
                    <li id="checkout-rule" class="py-1"><i class="fa-solid fa-clock"></i> Check-out time: until <%-prop.checkout.slice(0,5) %></li>
                    <li id="for-kids-rule" class="py-1 "><%-prop.for_kids ? '<i class="fa-solid fa-baby text-green-500"></i> ' + 'Suitable for kids' : '<i class="fa-solid fa-baby text-red-500"></i> ' + 'Not suitable for infants (under 2 years old)' %></li>
                    <li id="smoking-rule" class="py-1"><%-prop.smoking_allowed ? '<i class="fa-solid fa-smoking"></i> ' + 'Smoking allowed in property' : '<i class="fa-solid fa-ban-smoking text-red-500"></i> ' + 'Smoking not allowed'%></li>
                    <li id="liets-rule" class="py-1"><%-prop.pets_allowed ? '<i class="fa-solid fa-paw text-green-500"></i> ' + 'You can bring your pets along' : '<i class="fa-solid fa-paw text-red-500"></i> ' + 'No pets allowed'%></li>
                    <li id="events-rule" class="py-1"><%-prop.events_allowed ? '<i class="fa-solid fa-champagne-glasses text-green-500"></i> ' + 'Parties and events can be hosted in this property' : '<i class="fa-solid fa-ban text-red-500"></i> ' + 'Events or parties not allowed'%></li>
                </ul>
            </div>
        </main>
    </body>
</html>